@font-face {
  font-family: "Droop";
  src: url("./fonts/Droop_V2VF.woff2") format("truetype-variations");
  /*   font-weight: 900; */
}

html,
body {
  margin: 0;
  padding: 10;
  font-family: "Droop", Helvetica, sans-serif;
  font-size: 5vw;
  background: #fff;
  color: #000;
  text-transform: uppercase;
}

a {
  color: #000;
}

canvas {
  display: block;
}

section {
  padding: 10px 5vw;
}

#ios {
  /*   direction: rtl; */
  padding-bottom: 1em;
  padding: 10px 5vw;
}

#variable {
  width: 100%;
  box-sizing: border-box;
  /*   direction: rtl; */
  display: block;
  max-width: 100%;
  min-height: 70vh;
  font-family: "Droop";
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0px solid;
  font-size: 5.1em;
  color: #000;
}

#font-info {
  margin-top: 2em;
  min-height: 30vh;
  font-weight: 300;
}
